<h1 class="font-italic text-center " style="color: aliceblue;">Signos del zodiaco</h1>
        <section>
          <div class="row text-center">
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                   <img src="https://cdn-icons-png.flaticon.com/128/5928/5928375.png" class="img-fluid" style="width: 100px">
                  <div class="bg-success p-2 ml-2 flex-grow-1">
                   <button class="btn btn-success" (click)="obtenerTextoHoroscopo('aries')">Aries</button>                  
                  </div>
                </div>
              </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/128/47/47337.png" class="img-fluid" style="width: 100px">
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('leo')">Leo</button>
                </div>
              </div>
            </div>
          
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928503.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('sagittarius')">Sagitario</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928388.png" class="img-fluid" style="width: 100px">
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('taurus')">Tauro</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/128/5928/5928453.png" class="img-fluid" style="width: 100px">
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('virgo')">Virgo</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/128/5928/5928519.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('capricorn')">Capricornio</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928404.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('gemini')">Geminis</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928469.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('libra')">Libra</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928332.png" class="img-fluid" style="width: 100px">
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('aquarius')">Acuario</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928436.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('cancer')">Cancer</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/123/123484.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('scorpio')">Escorpio</button>
                </div>
              </div>
            </div>
            <div class="col-lx-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <div class="d-md-flex align-items-md-center flex-md-row justify-content-center">
                 <img src="https://cdn-icons-png.flaticon.com/128/5928/5928349.png" class="img-fluid" style="width: 100px"> 
                <div class="bg-success p-2 ml-2 flex-grow-1">
                  <button class="btn btn-success" (click)="obtenerTextoHoroscopo('pisces')">Piscis</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section >
          <div>
          <h4 class="font-italic text-center"></h4>
          <div class="col-xl-12 text-center">
            <div class="bg-success p-2 ml-2 flex-grow-1">
              <h2> {{signoElegido | uppercase}}</h2>
              </div>
            <div>
             <h3>Horoscopo De La Semana: ({{fechaS}})</h3>
             <p> {{textoSigno}}</p>
            </div>
            <div>
              <h3>Horoscopo Del Mes:({{fechaM}}) </h3>
              <p> {{textoSignoMes}}</p>
             </div>
             <div>
              <h3>Horoscopo Del Año:({{fechaY}}) </h3>
              <p> {{textoSignoYear}}</p>
             </div>

            
          </div> 
        </div>
      </section>

           