<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="">Menu</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="">
                        Producto
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" [routerLink]="['page-a']"><i class="bi bi-film"></i> Productos</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['form-producto']"><i class="bi bi-moon"></i> Formulario Producto</a></li>
                    </ul>
                </li>             
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="">
                            Divisas
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" [routerLink]="['lista-transacciones']"><i class="bi bi-film"></i>Lista de Transacciones</a></li>
                            <li class="nav-item"><a class="nav-link" [routerLink]="['page-b']"><i class="bi bi-currency-dollar"></i> Conversor de Divisas</a></li>
                        </ul>
                    </li>  
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['page-c']"><i class="bi bi-moon"></i> Signos del Zodiaco</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['page-d']"><i class="bi bi-moon"></i> Buscador de peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['page-e']"><i class="bi bi-moon"></i> Practica</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

